@mixin borders($left-top: #7b7b7b, $right-bottom: #f9f9f9) {
  border-width: 4px;
  border-style: solid;
  border-top-color: $left-top;
  border-left-color: $left-top;
  border-bottom-color: $right-bottom;
  border-right-color: $right-bottom;
}

@mixin buttons {
  &:active {
    border-top-color: #7b7b7b;
    border-left-color: #7b7b7b;
    border-bottom-color: #f9f9f9;
    border-right-color: #f9f9f9;
  }
}
